* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

html, body {
    height: 100%;
    width: 100%;   
}
img {
    padding: 2%;
    border-radius: 50%;
    object-fit: cover;
}
.container {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
}

.sidebar {
    background-color: #1E90FF;
    display: grid;
    align-items: center;
    grid-template-rows: 10% 40% 20%;
    padding: 10%;
    z-index: 2;
}

.sidebar h1,
.sidebar h3 {
    color: white;
}

h1 {
    font-size: 3rem;
}

.dashlogo {
    display: grid;
    align-content: center;
    justify-content: center;
    gap: 7%;
    padding: -10%;
    size: 100%;
    grid-template-columns: 1fr 5fr;
}

.dashlogo img {
    height: 100%;
}

.navbtns > div,
.navbtns1 > div {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 10%;
    padding: 5% 20%;
}
.page {
    display: grid;
    grid-template-rows: 15% 85%;
}
.header {
    display: flex;
    flex-direction: column;
    grid-row-start: 1;
    padding: 1% 5%; 
    justify-content: space-between;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);}
.header-top {
    display: grid;
    grid-template-columns: 75% 25%;
}
.htl {
    display: flex;
}
.htr {
    display: flex;
    justify-content: right;
}
.htr :first-child {
    padding: 5%;   
}
.htr * {
    margin-left: 5%;
}
.htr > h3 {
    align-content: center;
}
.header-top .input {
    padding: 1% 2%;
    height: 40%;
    width: 80%;
    align-self: center;
    position: relative;
    outline: none;
    border-color: transparent;
    border-radius: 100px;
    background-color: #cdcdcd;
    font-size: 1rem;
}
.header-bottom {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-row-start: 2;
    align-items: center;
    height: 55%;
}
.header-bottom > * {
    height: 100%;
}
.left {
    display: flex;
    align-items: center;
}
.left img {
    padding: 0;
    object-fit: cover;
}
.right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    padding: 2% 0;
}
.right button {
    background-color: #3f9dfa; 
    color: white;
    border: none; 
    border-radius: 50px;
    margin: 0 5%;
    font-size: 1rem; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.2s; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
.greet-user {
    margin-left: 3%;
    align-content: center;
}
.lain {
    height: 60px;
}
.content {
    padding: 0 1.6%;
    display: grid;
    grid-template-rows: 7% 93%;
    background-color: #eeeded7a;
}
.titles {
    display: grid;
    align-content: center;
    grid-template-columns: 80% 20%;
}
.annc {
    grid-column-start: 2;
}
.projects {
    display: grid;
    grid-template-columns: 70% 30%;
    padding-bottom: 3%;
}
.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5%;
    margin-right: 5%;
}
.card,
.annc,
.trending {
    display: grid;
    background-color: white;
    grid-template-rows: 80% 20%;
    padding: 10% 5%;
    border-radius: 15px;
    border-left: 10px solid #fff06a;
    
}
.card,
.annc,
.trending {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
.card h3 {
    margin-bottom: 2%;
}
.text {
    font-size: 1.15rem;
}
.card-icons {
    display: flex;
    justify-content: end;
}
.card-icons > * {
    margin: 1% 3%;
}
.card-icons img {
    padding: 0;
}
.misc {
    grid-column-start: 2;
    grid-row-start: 1;
    display: grid;
    grid-template-rows: 47% 6% 47%;
}
.annc,
.trending {
    border: none;
}
.annc > :nth-child(2) {
    border-top: 1px solid rgba(0, 0, 0, 0.3); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.ann {
    padding: 5% 0;
}
.ann h4 {
    margin-bottom: 1%;
}
.annc {
    display: grid;
    grid-column-start: 1;
    grid-template-rows: repeat(3, 33%);
}
.trndtitle {
    display: flex;
    align-items: end;
    padding: 1%;
    font-size: 1.17rem;
}
.trending {
    display: flex;
    flex-direction: column;
    grid-row-start: 3;
}
.trndpost {
    display: flex;
}
.trndpost:last-child img{
    margin-bottom: none;
}
.trending img {
    width: 60px;
    aspect-ratio: 1/1;
    margin: 2%;
}
.tpc {
    align-content: center;
}